/* SIDEBAR CUSTOMIZATION FOR TREESTYLE TAB */
/* Hide main tabs toolbar */
#TabsToolbar {
    visibility: collapse;
}
/* Sidebar min and max width removal */
#sidebar {
    max-width: none !important;
    min-width: 0px !important;
}
/* Hide splitter, when using Tree Style Tab. */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] + #sidebar-splitter {
    display: none !important;
}
/* Hide sidebar header, when using Tree Style Tab. */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
    visibility: collapse;
}
/* Shrink sidebar until hovered, when using Tree Style Tab. */
:root {
    --thin-tab-width: 45px;
    --wide-tab-width: 150px;
}
#sidebar-box:not([sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]) {
    min-width: var(--wide-tab-width) !important;
    max-width: none !important;
}
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] {
    position: relative !important;
    transition: all 300ms !important;
    min-width: var(--thin-tab-width) !important;
    max-width: var(--thin-tab-width) !important;
}
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]:hover {
    transition: all 300ms !important;
    min-width: var(--wide-tab-width) !important;
    max-width: var(--wide-tab-width) !important;
    margin-right: calc((var(--wide-tab-width) - var(--thin-tab-width)) * -1) !important;
}
#context-sendpagetodevice, #context-sep-sendpagetodevice,
#context-sendlinktodevice, #context-sep-sendlinktodevice,
#context_sendTabToDevice, #context_sendTabToDevice_separator {
  display: none !important;
}
#sidebar {
    border: none !important;
}
#sidebar-box {
  background-color: #0e1215 !important;
}

/* End of Sidebar */


/* URL AND NAVBAR CUSTOMIZATION */
#urlbar {
    background: #0e1215 !important;
    margin: 0 !important;
    margin-top: -6px !important;
    margin-bottom: 2px !important;
    margin-left: 80px !important;
    padding-bottom: 2px !important;
    text-align: center !important;
	color: #555 !important;
    font-family:  'I pixel U'!important;
    border: none !important;
    max-height: 3px !important;
}
#nav-bar{
  border: none !important;
  margin-top: -2px !important;
  color: #333 !important;
  background: #0e1215 !important;
  font-family:  'I pixel U' !important;
  font-size: 20px !important;
  max-height: 10px !important;
}
  /*Disable White Flash of Death*/
browser[type="content-primary"], tabbrowser tabpanels, #appcontent > #content {
    background-color: #0e1215 !important;
}
/* Move the identity icon and SSL lock to the end of the address bar */
#PopupAutoCompleteRichResult .autocomplete-richlistitem {
  padding-inline-start: var(--item-padding-end) !important;
  font-family: Hack !important;
  background-color: #0e1215 !important;
}
#urlbar > #identity-box
{
  -moz-box-ordinal-group: 99 !important; /* Move identity box to the end */
  border-inline-end: none !important; /* Remove any right borders from it (internal pages, EV SSL) */
  margin-inline-end: 0em !important; /* Remove the end margin */
  margin-inline-start: -0.2em !important; /* Remove the start margin */
  font-family: 'I pixel U' !important; 
  color:#333333 !important; 
}
#page-action-buttons {
  font-family: 'I pixel U' !important; 
  color:#333333 !important; 
}
#pageAction-urlbar-wappalyzer_crunchlabz_com {
    -moz-box-ordinal-group: 100 !important;
}
#star-button {
    -moz-box-ordinal-group: 99 !important;
}
#urlbar > #page-action-buttons > #pageActionButton {
  -moz-box-ordinal-group: 98 !important; /* Move the 3-dot page action button to the rightmost of page action icons */
  font-family: 'I pixel U' !important;
}
.urlbar-input-box {
  margin-left: 1em !important; /* Add some margin back to left of urlbar to make it prettier */
  font-family: 'I pixel U' !important;
} /* If you're using reload-button-addressbar-left.css, set the value to 2em. */
#back-button {
   display: none;
}
#forward-button {
   display: none;
}
/* green ssl icons */
#connection-icon {
    fill: #20ad80 !important;
}
/* container icons */
#userContext-icons {
    position: absolute !important;
    left: -8px !important;
    top: -1px !important;
    font-size: 14px !important;
    font-weight: bold !important;
    font-family: 'I pixel U' !important;
}
#userContext-indicator {
    height: 9px !important;
    width: 9px !important;
}
#identity-icon-labels {
    position: absolute;
    visibility: hidden;
}
#pageActionSeparator {
    visibility: hidden !important;
}

/* white border fix*/
vbox#sidebar-box.chromeclass-extrachrome {
  border-style: none !important;
}

/* devtools customization*/
.devtools-monospace {
    font-family: Hack, monospace !important;
    font-size: 20px !important;
    color: #D4BEBE !important; 
}

/* .contextual-identity-marker:before{ */
/* content: "_"; */
/* color: var(--identity-tab-color) !important; */
/* } */
