:root {
  --uc-autohide-toolbox-delay: 200ms;
  --uc-toolbox-rotation: 82deg;
}

:root[sizemode="maximized"] {
  --uc-toolbox-rotation: 89deg;
}

:root[sizemode="fullscreen"] {
  margin-top: 0px !important;
}

@media (-moz-os-version: windows-win7), (-moz-os-version: windows-win10) {
  :root[tabsintitlebar][sizemode="maximized"]:not([inDOMFullscreen])
    > body
    > box {
    margin-top: 8px !important;
  }

  @media screen and (min-resolution: 1.25dppx) {
    :root[tabsintitlebar][sizemode="maximized"]:not([inDOMFullscreen])
      > body
      > box {
      margin-top: 7px !important;
    }
  }
  @media screen and (min-resolution: 1.5dppx) {
    :root[tabsintitlebar][sizemode="maximized"]:not([inDOMFullscreen])
      > body
      > box {
      margin-top: 7px !important;
    }
  }
  @media screen and (min-resolution: 2dppx) {
    :root[tabsintitlebar][sizemode="maximized"]:not([inDOMFullscreen])
      > body
      > box {
      margin-top: 6px !important;
    }
    :root[tabsintitlebar][sizemode="maximized"] #navigator-toolbox {
      margin-top: -1px;
    }
  }
  #navigator-toolbox:not(:-moz-lwtheme) {
    background-color: -moz-dialog !important;
  }
}
/* hide */
#toolbar-menubar {
  display: none;
}
#navigator-toolbox {
  background-color: transparent;
  position: fixed;
  top: 0;
  height: 1px;
  border: none;
}
#urlbar {
  display: none;
}
#urlbar-background {
  display: none;
  height: 0 !important;
}
.urlbar-input-container {
  height: 0 !important;
}

#urlbar-background,
.urlbar-input-container {
  height: 0 !important;
  overflow: hidden;
  transition:
    height 0.3s ease,
    opacity 0.3s ease; /* Smooth transition */
}

/* hover */
#navigator-toolbox:hover {
  height: fit-content;
}
#navigator-toolbox:hover #urlbar {
  display: block;
}
#navigator-toolbox:hover #urlbar-background,
#navigator-toolbox:hover .urlbar-input-container {
  height: fit-content !important;
  opacity: 1;
  transition:
    height 0.3s ease,
    opacity 0.5s ease;
}

/* Don't apply transform before window has been fully created */
:root:not([sessionrestored]) #navigator-toolbox {
  transform: none !important;
}

:root[customizing] #navigator-toolbox {
  position: relative !important;
  transform: none !important;
  opacity: 1 !important;
}

#navigator-toolbox[inFullscreen] > #PersonalToolbar,
#PersonalToolbar[collapsed="true"] {
  display: none;
}

/* SIDEBAR CUSTOMIZATION FOR TREESTYLE TAB */
/* Hide main tabs toolbar */
#TabsToolbar {
  visibility: collapse;
}
/* Sidebar min and max width removal */
#sidebar {
  max-width: none !important;
  min-width: 0px !important;
}
/* Hide splitter, when using Tree Style Tab. */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]
  + #sidebar-splitter {
  display: none !important;
}
/* Hide sidebar header, when using Tree Style Tab. */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]
  #sidebar-header {
  visibility: collapse;
}
/* Shrink sidebar when using Tree Style Tab. */
:root {
  --thin-tab-width: 45px;
  --wide-tab-width: 150px;
}
#sidebar-box:not(
    [sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]
  ) {
  min-width: var(--wide-tab-width) !important;
  max-width: none !important;
}
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] {
  position: relative !important;
  transition: all 300ms !important;
  min-width: var(--thin-tab-width) !important;
  max-width: var(--thin-tab-width) !important;
}
/* #sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]:hover { */
/*     transition: all 300ms !important; */
/*     min-width: var(--wide-tab-width) !important; */
/*     max-width: var(--wide-tab-width) !important; */
/*     margin-right: calc((var(--wide-tab-width) - var(--thin-tab-width)) * -1) !important; */
/* } */
#context-sendpagetodevice,
#context-sep-sendpagetodevice,
#context-sendlinktodevice,
#context-sep-sendlinktodevice,
#context_sendTabToDevice,
#context_sendTabToDevice_separator {
  display: none !important;
}
#sidebar {
  border: none !important;
}
/* End of Sidebar */
