#tabbrowser-tabs[orient="vertical"] {
  & .tabbrowser-tab {
    padding-inline: 0;
    padding-block: 0 !important;
  }
}
.tab-background {
  margin-block: 2px !important;
}

.tab-background {
  &:is([selected], [multiselected]) {
    background-color: #333 !important;
    outline-color: transparent !important;
  }
}

:root element {
  --sidebar-launcher-collapsed-width: 45px;
}

#urlbar,
#urlbar-container,
.urlbar-background,
.urlbar-input-container {
  max-height: 20px !important;
}

#navigator-toolbox {
  max-hieght: 25px !important;
  padding: 0 5px;
}

.urlbar-background,
.urlbar-input-container {
 margin-top: 10px !important; 
}
