
/* Show title of unread tabs with italic font */

.tab.unread .label
{
    font-style: italic;
}
* {
font-family: 'I pixel u' !important;
}
 
/* Add private browsing indicator per tab */

.tab.private-browsing .label:before
{
    content: "";
}

 


/* Hide .twisty and adjust margins so favicons have 7px on left. */
.tab .twisty {
    visibility: hidden;
    margin-left: -15px;
}

/* Push tab labels slightly to the right so they're completely hidden in collapsed state */
.tab .label {
    margin-left: 22px;
}

:root
{
    --tab-surface: transparent !important;

    --tab-surface-hover: transparent !important;
    --tab-surface-active: #875faf !important;
    --tab-surface-active-hover: #222 !important;
    --tab-active-marker: green !important;
 
    --tab-highlighted-highlight: #000 !important;
    --tabbar-bg: #0e1215 !important;
    --favicon-size: 16px;
  
    /* change tab size */
    --tab-vertical-padding: 0.2em;
}
 
 
/* hide tab label overflow */
.tab .label
{
    text-overflow: " ";
}
 

:root.left .tab:not(.faviconized) .contextual-identity-marker,
:root.right .tab:not(.faviconized) .contextual-identity-marker
{
    width: calc(var(--favicon-size) / 9);
}
 
/* change contextual identity side */
:root.left .tab:not(.faviconized) .contextual-identity-marker
{
    left: 0 ;
    width: 5px;
   content: "-----"
}


 
:root.right .tab:not(.faviconized) .contextual-identity-marker
{
    right: 0;
}
 
/* hide unnecessary buttons */
.newtab-button-box,
.closebox,
.active-marker
{
    display: none;
}
 
/* hide twisties */
:root.left .tab .twisty,
:root.right .tab .twisty
{
    display: none;
}
 
:root.left .tab:not(.faviconized) .favicon
{
    margin-left: calc(var(--favicon-size) / 1.5);
}
 
:root.right .tab:not(.faviconized) .favicon
{
    margin-right: calc(var(--favicon-size) / 3);
}
 
/* hide scrollbar */
/* janky when collapsing/expanding tress */
/* fixes upon opening or closing a tab */
#tabbar.overflow
{
    margin-left: -17px;
}
 

/* tab label colors */
.tab.active .twisty,
.tab.active .label,
.tab.active .counter,
.tab.active .sound-button
{
    color: var(--tab-highlighted-highlight);
}
 

.tab .label {

  color: #374949 !important;

}


.tab .counter {

  color: #374949 !important;

}

.tab .label:hover {

color: #875faf !important;

}

/* hide tab borders */
.tab,
.after-tabs button
{
    border: none;

}

 
/*border between pinned and normal tabsJ*/
#tabbar
{
    background: #0e1215 !important;
    padding-top: 10% !important;
    padding-bottom: 10% !important;
    border-top: 0.41em solid #20ad80 !important;

}

 .tab {
font-family: 'I pixel U' !important;

}


